<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Contacts</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link"
            routerLink="contacts"
            routerLinkActive="active"
          >
            Contacts
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            routerLink="messages"
            routerLinkActive="active"
          >
            Messages
          </a>
        </li>
      </ul>
    </div>
    <input [(ngModel)]="searchTerm" name="searchTerm" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="handleSearch()">Search</button>
  </div>
</nav>
